 
 <div>
  <h2>Add New Product</h2>
  <input type="text" #newProductName placeholder="Product Name" />
  <input type="number" #newProductPrice placeholder="Product Price" />
  <input type="text" #newProductCategory placeholder="Product Category" />
  <button (click)="addProduct(newProductName.value, newProductPrice.value, newProductCategory.value); newProductName.value=''; newProductPrice.value=''; newProductCategory.value=''">Add Product</button>
</div>


 <div class="product-container" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
  @for (product of products; track product.id) {
     <div 
      class="product-card" 
      [ngStyle]="{
        'left.px': product.position?.left || 0,
        'top.px': product.position?.top || 0
      }"
      draggable="true" 
      (dragstart)="onDragStart($event, product)" 
      (dragend)="onDragEnd($event, product)">
     
      <div *ngIf="!product.isEditing">
        <div class="product-name">{{ product.name }}</div>
        <div class="product-item"> ${{ product.price }}</div>
        <div class="product-item"> {{ product.category }}</div>
      </div>

      <div *ngIf="product.isEditing">
        <input 
          type="text" 
          [value]="product.name" 
          placeholder="Edit Name" />
        <input 
          type="number" 
          [value]="product.price"  
          placeholder="Edit Price" />
        <input 
          type="text" 
          [value]="product.category"
          placeholder="Edit Category" />
      </div>
      <button class="delete-button" (click)="deleteProduct(product)">Delete</button> 
      <button class="duplicate-button" (click)="duplicateProduct(product)">Duplicate</button> 
    </div>
  }
</div>
